{{ define "header" }}
  {{ partial "basic/header-logo.html" . }}
{{ end }}

{{ define "main"}}
	<section class="py-20">
	  <div class="container px-4 mx-auto text-center">
	    <img class="mb-4 mx-auto md:max-w-md mb-12" src="/img/error_404.png" alt="">
	    <span class="text-4xl text-blue-600 font-bold font-heading">Error 404</span>
	    <h2 class="mb-2 text-4xl font-bold font-heading">Something went wrong!</h2>
	    <p class="mb-6 text-blueGray-400">Sorry, but we are unable to open this page.</p>
	    <div><a class="block sm:inline-block py-4 px-8 mb-4 sm:mb-0 sm:mr-3 text-xs text-white text-center font-semibold leading-none bg-blue-600 hover:bg-blue-700 rounded" href="/">Go back to Homepage</a><a class="block sm:inline-block py-4 px-8 text-xs text-blueGray-500 hover:text-blueGray-800 text-center font-semibold leading-none bg-blueGray-50 hover:bg-blueGray-100 rounded" href="{{ .Permalink }}">Try Again</a></div>
	  </div>
	</section>
{{ end }}	