{{ define "main" }}
	{{ partial "marketing/slider_alpine.html" . }}
	{{ partial "marketing/featured-items.html" . }}
	{{ partial "marketing/slider_jquery.html" . }}
	{{ partial "marketing/featured-items.html" . }}
	{{ partial "marketing/hero-right.html" . }}
	{{ partial "marketing/hero-left.html" . }}
	{{ partial "marketing/twobox.html" . }}
	{{ partial "marketing/faq.html" . }}
	{{ partial "marketing/twobox.html" . }}
	{{ partial "marketing/faq_accordion.html" . }}
	{{ partial "marketing/cta.html" . }}
	<!-- {{ partial "marketing/tailwind.html" . }} -->

	<!-- <article class="prose lg:prose-xl">
		<h1 class="text-4xl">
		  	{{ .Title }}
		</h1>
			{{ .Content }}
	</article> -->
{{ end }}